@use "./base" as *;
.homes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33, 1fr));
    gap: 4rem 4rem;
    grid-column: center-start / center-end;
    grid-row: 4 / 5;
}